:root{
    --bg: rgb(243, 188, 38);
}

html {
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.mainheading {
    margin: auto;
    padding: auto;
    font-size: 54px;
    font-family: 'Permanent Marker', cursive;
    font-weight: lighter;
}

#header {
    position: relative;
    top: 0px;
    color:#660000;
    background-color: var(--bg);
    height: 75px;
}

#container {
    padding-top: 50px;
    background-color: #222;
    width: 100%;margin:auto;
    height: 100%;
}

#playingArea {
    margin: auto;
    width: 80%;
    height: 90%;
    background-color: var(--bg);
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    border-color: rgb(245, 151, 9);
    color: #600;
    font-family: 'Mochiy Pop P One', sans-serif;
}

#gameContainer {
    height: 100%;
    width: 100%;
}

.centreflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin: auto;
    height: 100px;
    width: 200px;
    border: 0;
    border-radius: 5px;
    font-size: 32px;
    background-color:#600;
    color: var(--bg);
    font-family: 'Mochiy Pop P One', sans-serif;
}

.button:hover {
    transform: scale(1.1,1.1);
}

#scoreCount{
    padding-left: 10px;
    text-align: center;
    height: 20%;
    font-size: 24px;
}

#gameButtons{
    width: 100%;
    height: 60%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#message {
    text-align: center;
    font-size: 18px;
    margin: auto;
    height: 20%;
}